<a href="https://colab.research.google.com/github/cnikhil469/Datascience/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

## DATA SCIENCE TOOLS AND ECOSYSTEM

This notebook has data science tools and demonstrates operations using jupiterlite

## data science languages
Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL
- Julia

## Data science Libraries
Some of the commonly used libraries used by Data Scientists include:
- NumPy
- pandas
- matplotlib
- scikit-learn
- TensorFlow

## Table of Data science Tools
| Data Science Tools       |
|--------------------------|
| JupyterLite               |
| GitHub                    |
| Anaconda                  |

## Arithmetic Expressions
- Addition
- Subtraction
- Multiplication
- Division

In [ ]:
## Below are a few examples of evaluating arithmetic expressions in Python.
1+1

2

In [ ]:
2-1

1

In [ ]:
2*2

4

In [ ]:
4//2

2

In [ ]:
# Create a code cell to multiply and add numbers
a = 3
b = 5

mul = a * b
addition = a + b

# final result by adding the product and sum
result = mul + addition

#results
mul, addition, result

(15, 8, 23)

In [ ]:
# Create a code cell to convert minutes to hours
minutes = 200

hours = minutes / 60

# result
hours

3.3333333333333335

## Objectives
- Learn how to use JupyterLite Notebook effectively.
- Explore and understand data science languages and libraries.
- Perform basic arithmetic operations and data conversions using Python.
- Share and collaborate on your work via GitHub.

## Author's name
Nikhil Chakravarthy Chappalli